{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended"
    ],
    "env": {
      "es6": true,
      "browser": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "semi": "warn",
        "indent": ["warn", 2],
        "no-console": "warn",
        "no-debugger": "warn",
        "no-unused-vars": "warn",
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-no-duplicate-props": "error",
        "react/jsx-no-undef": "error",
        "react/no-multi-comp": "error",
        "react/prop-types": "error",
        "react/jsx-key": "error"
    }
}
